<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Security Dashboard</title>
</head>
<body>
    <h1>Welcome to the Security Incident Dashboard</h1>
    <p>{{ message }}</p>
    <p>
        This database contains a series of security breaches at Microsoft, classified by the severity of each incident and how malicious they were perceived to be.
        <br>
        Below you can visualize the trends of each of the following breach categories based on the severity or the grade.
    </p>
    <form action="{{ url_for('submit_system') }}" method="POST">
        <label for="category">Select an Incident Category:</label>
        <select name="category" id="category" required>
            {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="data_request">Select which type of Data Request you want to visualize:</label>
        <select name="data_request" id="data_request" required>
            {% for key, value in options.items() %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
